@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-sm-1 col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Choose File:</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="xmlFile" name="uploadedFile" type="file" class="custom-file-input" accept=".csv, .xml"/>
                            <label class="custom-file-label"></label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-primary" value="Upload" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
